body {
    padding: 10px 200px;;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 14px 10px;
}

ul {
    padding: 14px;
    
}

li {
    list-style: none; display: inline; float: left;
}

#menu li a
 {
    color: white;
    background-color: blue;
}

ul .dropdown {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li .dropdown {
    display: inline-block;
}

.kiri {
    width: 70%;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.samping {
    width: 30%;
    float: left;
}

.dropdown li {
    display: block;
}
